*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header{
   width: 100%;
   height: 20px;
   background-image: url();
   background-size: cover;
   background-position: center;
}
.im img{
  border-radius: 100%;
  height: 37rem;
  width: 35rem;
  object-fit: cover;
  box-shadow: 0 0 3rem #bdb7e9;
}
.im img:hover{
  box-shadow: 0 0 2.5rem #bdb7e9,
              0 0 5rem #bdb7e9,
              0 0 10rem #bdb7e9;
}
#header nav{
  animation: fadeInDown 2s ease-out;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
nav{
  position: fixed;
  top: 26px;
  left: 34px;
  right: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
    font-size: 2rem;
    text-decoration: none;
    color: hwb(314 28% 42%);
    text-transform: capitalize;
    font-weight: 600;
  }
.logo span {
    color:rgb(198, 188, 199);
    text-transform: capitalize;
    text-decoration: none;
  }
nav ul li{
    display: inline;
    list-style: none;
    margin: 9px 21px;
}
nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: brown;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:visited{
    color:white;
}
nav ul li a:active{
    color: blueviolet;
}
nav ul li a:hover{
    cursor: pointer;
    color:rgb(116, 98, 195);
}
.Home{
    padding: 2rem;
}
.Home{
    min-height: 111vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.header-text{
    padding: 1px 2px;
}
.Home .header-text{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.Home .header-text h1{
    font-size: 50px;
}
.Home .header-text span{
    color:#BDB7E9;
}
.Home .header-text p{
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 38rem;
    margin-bottom: 1rem;
    text-align: justify;

}
.Home .header-text .flex-btn{
    display: inline-block;
}
.Home .header-text .flex-btn .btn{
    color:#BDB7E9;
    background-color:black;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: .2rem solid #BDB7E9;
    border-radius: 3rem;
    text-decoration: none;
    margin-right: 1rem;
}
.Home .header-text .flex-btn .btn:hover{
  background-color:#BDB7E9;
  color:white;
  border: none;
  box-shadow: .1rem .5rem 1rem #BDB7E9;
}

.Home .header-text .icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.Home .header-text .icons i{
  color:#BDB7E9;
  font-size: 2rem;
  border: .1rem solid #BDB7E9;
  padding: 1.5rem;
  border-radius:95px;
}
.Home .header-text .icons i:hover{
  cursor: pointer;
  font-size: 2.5rem;
  box-shadow: 0 0 23px #BDB7E9;
}
.text-animation{
    font-size: 3rem;
    color:white;
    text-transform: capitalize;
    min-width: 28rem;
    font-weight: 600;
  }
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "web developer";
    color:#BDB7E9;
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color:#080808;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #080808;
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
      border-left: 2px solid #BDB7E9;
    }
}
@keyframes words{
    0%,
    20%{
      content:"Prompt Engineer";
    }
    21%,
    40%{
      content: "python Developer";
    }
    41%,
    60%{
      content: "Frontend Developer";
    }
    61%,
    80%{
      content: "AI Content Specialist";
    }
    81%,
    100%{
      content: "Java Programmer";
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
      width: calc(100% + 8px);
    }
}
.Home{
  animation: fadeInUp 2s ease-out;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

/* About me */
.Aboutme{
  padding: 142px 4px 117px 79px;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col1{
  flex-basis: 40%;
}
.col1 img{
  width: 110%;
  height: 631px;
  border-radius: 65px;
  box-shadow: 0 0 2.5rem #BDB7E9;
}
.col1 img:hover{
  box-shadow: 0 0 2rem #BDB7E9,
              0 0 5rem #BDB7E9,
              0 0 10rem #BDB7E9;
}
.col2{
  flex-basis: 48%;
  color: whitesmoke;
  line-height: 1.9rem;
}
.col2 .sub{
  font-size: 41px;
  color: white;
  margin-bottom: 2.5rem;
}
.tab-titles{
  display: flex;
  margin: 24px 0 33px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: "";
  width: 0%;
  height: 3px;
  background-color: #d23737;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active::after{
  width: 60%;
}
.tab-links span{
  color: #b0548e;
}
.tab-contents ul li{
  list-style-type: none;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
table .date{
  color: crimson;
}
table .mark{
  color:white;
  border: .1rem solid black;
  border-radius:95px;
}
table .mark:hover{
  cursor: pointer;
  box-shadow: 0 0 23px #BDB7E9;
}
.tab-contents ul li{
  list-style-type: none;
  color: crimson;
  font-weight: bold;
}
/* Skills Section */
.skills{
  padding: 140px 26px;
  text-align: center;
  background: black;
}

.skills h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  color:whitesmoke;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.skill {
  background:#000000;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  color: #fff;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.skill h3 {
  margin-bottom: 10px;
  color: #f73333;
  animation: slideInLeft 2s ease-out;
}
.skill:hover{
  background-color:pink;
  transform: rotateY(30deg);
  box-shadow: .1rem .5rem 1rem whitesmoke;
  scale: 1.1;
}

.skill-bar {
  background: #444;
  border-radius: 10px;
  overflow: hidden;
}

.skill-level {
  height: 25px;
  line-height: 25px;
  background: linear-gradient(138deg, #947777, #8f4574);
  text-align: right;
  padding-right: 10px;
  color: #fff;
  border-radius: 10px;
}

.Python { width: 85%; }
.Java { width: 70%; }
.js { width: 30%; }
.C { width: 85%;}
.Django { width: 0%;}
.React { width: 0%;}
.kotlin { width:40%;}
.DataScience{width: 60%;}
.MongoDB{width: 0%;}
.DBMSSQL{width: 40%;}
.css {width: 80%;}
.Html { width: 94%; }

/* Services */
#services{
  padding: 64px 77px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #bdb7e9;
  color: black;
  padding: 40px;
  font-size:13px;
  font-weight: 300;
  border-radius: 29px;
  transition: background 0.5s,transform 0.5s;
}
.services-list div i{
  font-size: 49px;
  color:#1f1d20;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 24px;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #6e7fb3;
  color: #fff;
  transform: translateY(-10px);
}
.tab-contents .cer{
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 12px;
}
/* Projects*/
.project{
  padding: 5rem 5%;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 50px;
  padding: 45px;
}
.work{
  border-radius: 29px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 29px;
  display: block;
  transition: transform 0.5s;
}
.work:hover img{
  transform: scale(1.1);
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover .layer{
  height: 100%;
}
.btn1{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn1:hover{
  background: #ff004f;
}
/*contact*/
.contact{
  padding: 5rem 11%;
}
.col-left{
  flex-basis: 35%;
  padding: 50px 44px;
}
.col-right{
  flex-basis: 62%;
}
.col-right 
.sub h1{
  font-size: 3rem;
  margin-bottom: 40px;
  color:whitesmoke;
}
.col-left p{
  margin-top:30px;
}
.col-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-media{
  margin-top: 30px;
}
.social-media a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-media a:hover{
  cursor: pointer;
  color: #ff004f;
  transform: translateY(-5px);
}
.btn{
  color: #fff;
  background: #ff004f;
}
.col-right form{
  width: 100%;
}
form input,form textarea{
  width: 80%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 200px;
  border-radius: 19px;
  cursor: pointer;
}
/* Footer */
footer {
  padding: 20px;
  background: #121212;
  text-align: center;
}
footer p {
  margin-top: 20px;
  font-size: 1rem;
}
/* CSS For Small Screens */
nav .fas{
  display: none;
}
@media only screen and (max-width:600px) {
  #header{
    background-image: url();
  }
  .Home {
    min-height: 333vh;
    margin-left: 67px;
    gap: 0rem;
  }
  nav{
    position: fixed;
    top: 46px;
    left: 27px;
  }
  nav .fas{
    display: block;
    font-size: 61px;
  }
  nav ul{
    background: #c46f8a;
    position: fixed;
    top: 0;
    right: -44.5rem;;
    width: 265px;
    height: 324vh;
    padding-top: 110px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 17px;
    margin-top: 74px;
  }
  nav ul li a {
    font-size: 45px;
  }
  nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .logo{
    font-size: 63px;
  }
  .Home .header-text{
    margin-left: 926px;
  }
  .Home .header-text h1{
    font-size: 88px;
  }
  .text-animation{
    font-size: 61px;
  }
  .Home .header-text p{
    font-size: 26px;
    margin-bottom:9px;
  }
  .Home .header-text .icons i {
    color: #BDB7E9;
    border: .1rem solid #BDB7E9;
    font-size: 104px;
    border: -0.9rem;
    border-radius: 95px;
  }
  .Home .header-text .flex-btn .btn{
    font-size: 40px;
    border-radius: 74px;
    padding: 43px;
  }
  .Aboutme {
    width: 339%;
    padding:121px 3px 34px 59px;
  }
  .col1 img {
    width: 225%;
    height: 813px;
    border-radius: 199px;
    margin-left: 81px;
    box-shadow: 0 0 2.5rem #BDB7E9;
  }
  .col2 .sub {
    font-size: 93px;
    color: white;
    margin-bottom: 5.5rem;
    margin-top: 84px;
    margin-left: 348px;
  }
  .pos{
    flex-basis: 98%;
    padding-top: 30px;
  }
  .col2 p{
    font-size: 44px;
    line-height: 5.5rem;
    margin-left: 20px;
  }
  .tab-links span {
    font-size: 50px;
  }
  .tab-contents {
    font-size: 28px;
    line-height: 4.5rem;
  }
  table .date {
    font-size: 51px;
  }
  .tab-contents ul li {
    font-size: 42px;
    line-height: 5.5rem;
  }
  .skills h2 {
    font-size: 89px;
    margin-bottom: 47px;
  }
  .skill{
    padding: 27px;
    font-size: 33px;
    width: 164%;
  }
  .skills{
    width: 324%;
  }
  .skills-grid {
    display: grid;
    gap: 51px;
    width: 61%;
    padding-right: 19px;
    padding-left: 65px;
  }
  .skill h3{
    font-size: 48px;
  }
  .skill-level {
    height: 34px;
  }
  h1.sub-title {
    font-size: 91px;
    margin-bottom: 83px;
    margin-left: 302px;
  }
  #services {
    width: 325%;
    padding: 30px 43px;
  }
  .btn1 {
    margin: 9px 82px;
    padding: 17px 64px;
    font-size: 43px;
    margin-left: 337px;
  }
  .work-list{
    margin-bottom: 16px;
  }
  .layer h3{
  font-size: 59px;
  }
  .layer{
    font-size: 27px;
  }
  .sub {
    font-size: 98px;
  }
  .social-media a {
    font-size: 94px;
    margin-right: 47px;
    margin-top: 35px;
  }
  form input, form textarea {
    padding: 24px;
    margin: 8px;
    font-size: 44px;
    margin-left: 42px;
    border-radius: 20px;
  }
  .sub1{
    font-size: 90px;
    margin-left: 351px;
    margin-bottom: 60px;
  }
  footer p {
    margin-top: -9px;
    font-size: 25px;
  }
  .Home .header-text .icons {
    margin-bottom: 4.5rem;
  }
  form .btn {
    padding: 11px 41px;
    margin-left: 51px;
    font-size: 45px;
  }
  .tab-titles {
    display: flex;
    margin: 25px 46px 33px;
  }
  .tab-links {
    margin-right: 93px;
  }
  .tab-contents.active-tab {
    display: block;
    padding: 25px 46px 33px;
    margin-left: 25px;
  }
  .services-list div h2 {
    font-size: 56px;
    margin-bottom: 15px;
  }
  .services-list div p{
    font-size: 30px;
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 61px 140px;
    margin-top: 50px;
    width: 89%;
  }
  .services-list div {
    background: #bdb7e9;
    color: black;
    padding: 74px;
    font-size: 31px;
    font-weight: 300;
    border-radius: 29px;
    width: 126%;
    transition: background 0.5s, transform 0.5s;
  }
  .project {
    padding:188px 2px 40px 123px;;
    width: 326%;
  }
  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 110px 197px;
    margin-bottom: 50px;
    width: 61%;
    padding: 45px;
    padding-left: 32px;
  }
  .work {
    position: relative;
    font-size: 31px;
    font-weight: 300;
    border-radius: 29px;
    width: 173%;
    height: 127vh;
    overflow: hidden;
  }
  .work img {
    width: 100%;
    height: 127vh;
    border-radius: 29px;
    display: block;
    transition: transform 0.5s;
  }
  .layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 46px;
    line-height: 60px;
    background: white;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    text-align: center;
  }
  footer{
    width: 306%;
  }
  p.pa {
    margin-left: 64px;
    margin-right: 30px;
    padding: 13px;
  }
  p.pa1 {
    margin-right: 27px;
    padding: 4px;
    justify-items: left;
  }
  .col-left{
    flex: 0%;
  }
  .col-right{
    flex:85%
  }
  .contact{
    width: 343%;
  }
  .col-left p {
    margin-top: 41px;
    font-size: 48px;
  }
  .col-left p i {
    color: #ff004f;
    margin-right: 39px;
    font-size: 52px;
  }
  .tab-contents .cer {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 32px;
  }
}
@media only screen and (max-width:750px) {
  .skills-grid {
    display: grid;
    gap: 76px;
    width: 61%;
    padding-right: 19px;
    padding-left: 65px;
  }
  .skills {
    width: 357%;
  }
  .services-list div {
    background: #bdb7e9;
    color: black;
    padding: 74px;
    font-size: 31px;
    font-weight: 300;
    border-radius: 29px;
    width: 160%;
    transition: background 0.5s, transform 0.5s;
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 65px 250px;
    margin-top: 50px;
    width: 83%;
  }
  #services {
    width: 333%;
    padding: 138px 2px 40px 123px;
    margin-bottom: 212px;
  }
  .col2 p {
    font-size: 37px;
    line-height: 4.5rem;
    margin-left: 20px;
  }
  p.pa {
    margin-left: 68px;
    margin-right: 30px;
    padding: 8px;
  }
  .contact {
    padding: 268px 2px 40px 134px;
  }
  span#msg{
    font-size: 33px;
  }
}
@media only screen and (max-width:900px){
  .skills-grid {
    display: grid;
    gap: 76px;
    width: 53%;
    padding-right: 5px;
    padding-left: 65px;
  }
  .skill {
    padding: 27px;
    font-size: 30px;
    width: 196%;
  }
  .skill-level {
    height: 40px;
  }
}
span#msg {
  color: #82d06c;
  margin-left: 204px;
}


